<div class="wrapper-astra text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form action="/answer">
          <div class="form-group">
            <label for="question"><h1>Speak to your coach</h1></label>
            <input class="form-control text-center" type="text" id="question" name="query" placeholder="What do you want to ask to your coach?">
            <button type="submit" class="btn btn-danger form-control">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
