// Place all the styles related to the coach controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper-astra {
  background-color: #F9F8F4;
  height: 100vh;
}

blockquote {
  min-height: 100px;
}

.container {
  padding-top: 4em;
  padding-bottom: 4em;
}
